<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DegreePlanner</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Student">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-degree">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Degree
                    </NavLink>
                    <NavLink class="nav-link" href="my-subjects">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Subjects
                    </NavLink>
                    <NavLink class="nav-link" href="my-results">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> My Results
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Staff">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="tutors">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Tutors
                    </NavLink>
                    <NavLink class="nav-link" href="subjects">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Subjects
                    </NavLink>
                    <NavLink class="nav-link" href="results">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Results
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                @* Admin links go here *@
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>