@page "/addSubject"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>Add Subject</h3>
<EditForm Model="Details" OnSubmit="CreateSubject" FormName="InputtedTeacherDetails">
	<InputText @bind-Value="Details.Name" class="form-control" placeholder="Subject Name" />
	<InputText @bind-Value="Details.Code" class="form-control" placeHolder="Subject Code" />
	<button type="submit">Create Subject</button>
</EditForm>

<p>@resultMessage</p>
