@page "/addStudent"
@rendermode InteractiveServer

<h3>Add Student</h3>
<EditForm Model="Details" OnSubmit="CreateStudent" FormName="InputtedStudentDetails">
	<InputText @bind-Value="Details.Name" class="form-control" placeholder="Student Name" />
	<InputText @bind-Value="Details.Password" class="form-control" placeHolder="Student Password" type="password" />
	<button type="submit">Create Student</button>
</EditForm>

<p>@testMessage</p>

@code {
	[SupplyParameterFromForm]
	public StudentDetails Details { get; set; }

	private string testMessage = "";

	private async Task CreateStudent()
	{
		testMessage = "Name: " + Details.Name + "Password: " + Details.Password;
	}

	public class StudentDetails
	{
		public string? Name { get; set; }
		public string? Password { get; set; }
	}

	protected override Task OnInitializedAsync()
	{
		Details ??= new();
		return base.OnInitializedAsync();
	}
}
