@page "/addTeacher"
@rendermode InteractiveServer

<h3>Add Teacher</h3>
<EditForm Model="Details" OnSubmit="CreateTeacher" FormName="InputtedTeacherDetails">
	<InputText @bind-Value="Details.Name" class="form-control" placeholder="Teacher Name" />
	<InputText @bind-Value="Details.Password" class="form-control" placeHolder="Teacher Password" type="password" />
	<button type="submit">Create Teacher</button>
</EditForm>

@code {
	[SupplyParameterFromForm]
	public TeacherDetails Details { get; set; }

	private string error = "";

	private async Task CreateTeacher()
	{
		//<p>@Details.Name</p>
	}

	public class TeacherDetails
	{
		public string? Name { get; set; }
		public string? Password { get; set; }
	}

	protected override Task OnInitializedAsync()
	{
		Details ??= new();
		return base.OnInitializedAsync();
	}
}
