@page "/addUser"
@using Microsoft.AspNetCore.Mvc
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<h3>Add User</h3>
<EditForm Model="Details" OnSubmit="CreateUser" FormName="InputtedUserDetails">
	<InputText @bind-Value="Details.Name" class="form-control" placeholder="User Name" />
	<InputText @bind-Value="Details.Password" class="form-control" placeHolder="User Password" />

	<input type="radio" name="role" @onclick="() => SetUserRole(Data.UserRole.Student)" /> Student
	<input type="radio" name="role" @onclick="() => SetUserRole(Data.UserRole.Staff)" /> Teacher<br />

	<button type="submit">Create User</button>
</EditForm>

<p>@resultMessage</p>
