@page "/"
@using DegreePlanner.Services.Interfaces

<PageTitle>Degree Planner</PageTitle>

<h1>UTS Degree Planner</h1>

<AuthorizeView>
	<NotAuthorized>
		<p>Please <a href="/login">click here</a> to log in!</p>
	</NotAuthorized>
	<Authorized>
		Welcome, @GetUserName().Result!
	</Authorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState> authenticationState { get; set; }

	[Inject]
	private IUserService userService { get; set; }

	public async Task<string> GetUserName()
	{
		var authState = await authenticationState;
		return userService.GetUserFromId(int.Parse(authState.User.Identity.Name)).Name;
	}
}